        body {
            background-image:url(pngg2.png);
            background-size:cover;
            text-align: center;
        }
        .container {
            margin-top: 100px;
        }
        h1 {
            font-family:Courgette; 
            color:rgb(253, 112, 61);
            font-size: 80px;
            margin-bottom: 5px;
        }
        p {
            font-family:work sans;
            font-size: 20px;
            color:salmon;
            font-weight:20px;
        }
        .button {
            background-color:transparent;
            color:white;
            font-family:work sans;
            padding: 15px 30px;
            border: none;
            font-weight:20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        a {
            text-decoration: underline;
            text-decoration-color:white;
        }
        a:visited{
            text-decoration:none;
            color:white;
        }
        .button:hover {
            background-color:rgb(253, 112, 61);
        }
        